#table-body {
    border-radius: 10px;

    overflow: hidden;

    background-color: rgba(0,0,0, .1);

}

#table-body *{
    color: rgb(230, 230, 230);
}

#table-head {

    font-weight: bold;

    background-color: rgba(0,0,0, 0.25);
    
}